.app {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.sidebar {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 400px;
}

.sidebar img {
    width: 100px;
    height: 100px;
    align-self: center;
}

.sidebar-navbar {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 300px;
}

.sidebar-navbar-link {
    height: 5px;
    padding: 25px;
}

.sidebar-navbar-link a {
    text-decoration: none;
}

.sidebar-tweet-button {
    padding: 20px;
}

.sidebar-tweet-button button {
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    align-self: center;
}

.sidebar-profile {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 25px;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: pink;
    width: calc(100% - 800px);
}

.content-tweet {
    display: block;
    height: 125px;
    background-color: cyan;
}

.content-tweet input {
    width: calc(100% - 300px);
    border: none;
    background-color: aqua;
}

.content-tweet button {
    cursor: pointer;
    border: none;
    border-radius: 12px;
    width: 70px;
    height: 25px;
}

.content-feed {
    display: flex;
    flex-direction: column;
}

.content-feed-post {
    background-color: fuchsia;
    border: 2px black solid;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.asidebar {
    background-color: coral;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 400px;
}

.asidebar-searchbar {
    padding: 24px;
}

.asidebar-searchbar input {
    border: none;
    border-radius: 15px;
    width: calc(100% - 50px);
    height: 30px;

}

.asidebar-trending {
    display: flex;
    flex-direction: column;
}

.asidebar-trending-link {
    border: 2px black solid;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 1px;
}

.asidebar-trending-link a {
    text-decoration: none;
}

.profile-picture {
    scale: 0.05;
    width: auto;
    height: auto;
    max-width: 64px;
    max-height: 64px;
    margin: none;
    padding: none;
}

.uploaded-picture {
    scale: 0.5;
    translate: -157px -200px;
}
