* {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: sans-serif;
}

.sidebar {
    background-color: aquamarine;
    border-right: 1px black solid;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 400px;
}

.sidebar > img {
    width: 100px;
    height: 100px;
    align-self: center;
    padding-top: 10px;
}

.sidebar-navbar {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    text-align: left;
    width: 300px;
    font-weight: bold;
}

.sidebar-navbar-link {
    height: 5px;
    padding: 20px;
    list-style-type: circle;
}

.sidebar-navbar-link a {
    cursor: pointer;
    font-size: larger;
    text-decoration: none;
    color: inherit;
}

.sidebar-tweet-button {
    align-self: flex-end;
    padding: 10px;
    padding-top: 15px;
    padding-right: 28px;
}

.sidebar-tweet-button button {
    border: none;
    border-radius: 25px;
    background-color: red;
    color: darkblue;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    width: 250px;
    height: 50px;
    align-self: center;
}

.sidebar-profile {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 25px;
    padding-right: 100px;
}

.sidebar-profile img {
    border-radius: 450px;
    scale: 0.9;
    width: auto;
    height: auto;
    max-width: 64px;
    max-height: 64px;
}

.sidebar-profile > div {
    position: absolute;
    left: 210px;
    padding-top: 10px;
}

.sidebar-profile div:last-child {
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: pink;
    width: calc(100% - 800px);
}

.content-tweet {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    display: flex;
    flex-direction: row;
    height: 125px;
    background-color: cyan;
    position: relative;
}

.content-tweet img {
    scale: 0.7;
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    border-radius: 450px;
}

.content-tweet input {
    width: calc(100% - 300px);
    height: 80px;
    border: none;
    background-color: aqua;
    font-size: larger;
    align-self: flex-start;
}

.content-tweet input:focus {
    outline: none;
}

.content-tweet button {
    align-self: flex-end;
    border: none;
    border-radius: 35px;
    background-color: red;
    cursor: pointer;
    color: darkblue;
    font-size: medium;
    font-weight: bold;
    width: 75px;
    height: 40px;
    margin-bottom: 5px;
    position: absolute;
    right: 15px;
}

.content-feed {
    display: flex;
    flex-direction: column;
}

.content-feed-post {
    background-color: fuchsia;
    border: 1px black solid;
    border-bottom: none;
}

.content-feed-post img:first-child {
    align-content: flex-start;
    border-radius: 450px;
    display: inherit;
    width: auto;
    height: auto;
    max-width: 70px;
    max-height: 70px;
    margin-left: 10px;
    margin-top: 10px;
}

.content-feed-post div {
    color: white;
    padding-bottom: 10px;
}

.content-feed-post p {
    color: pink;
    text-align: left;
    padding-left: 70px;
    padding-bottom: 25px;
}

.content-feed-post img:nth-child(4) {
    width: auto;
    max-width: calc(100% - 20px);
    height: auto;
    max-height: 720px;
}

.content-feed-post-reactions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.asidebar {
    background-color: coral;
    border-left: 1px black solid;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 400px;
}

.asidebar-searchbar {
    padding: 5px 24px 24px 24px;
}

.asidebar-searchbar input {
    border: none;
    border-radius: 25px;
    width: 100%;
    height: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.asidebar-searchbar input::placeholder {
    padding-left: 15px;
}

.asidebar-searchbar input:focus {
    outline-color: hsl(240, 100%, 50%);
    outline-offset: 2px;
}

.asidebar-trending {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    border-radius: 18px;
    font-weight: bolder;
    align-self: center;
    padding-right: 50px;
}

.asidebar-trending-link {
    border-top: 1px black solid;
    list-style: none;
    width: 100%;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;   
}

.asidebar-trending-link a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.home-label {
    font-size: x-large;
    font-weight: bold;
    align-self: flex-start;
    margin: 10px;
}

.trends-label {
    font-size: x-large;
    align-self: flex-start;
    margin: 10px;
}
